.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-top: 40px;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}
@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
.screen-header__icons {
  position: relative;
}
.screen-header__cognotification {
  background-color: tomato;
  width: 8px;
  height: 8px;
  font-size: 1px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: tomato;
  font-weight: 600;
  position: absolute;
  left: 70px;
  bottom: 18px;
}
